In [27]:
import numpy as np
import pandas as pd
#最大表示列数の指定（ここでは50列を指定）
pd.set_option('display.max_columns', 50)

In [28]:
race_df = pd.read_csv("./csv/cleaned_race_data.csv", sep=",")

In [29]:
horse_df = pd.read_csv("./csv/cleaned_horse_data.csv", sep=",")

/Users/murakaminaoki/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [30]:
# race
print(race_df.dtypes)
race_df.head(3)

race_id                        int64
race_round                     int64
ground_status                  int64
date                          object
total_horse_number             int64
frame_number_first             int64
horse_number_first             int64
frame_number_second            int64
horse_number_second            int64
frame_number_third             int64
horse_number_third             int64
tansyo                         int64
hukuren_first                  int64
hukuren_second                 int64
hukuren_third                  int64
renhuku3                       int64
rentan3                        int64
is_obstacle                  float64
distance                       int64
weather_rain                   int64
weather_snow                   int64
weather_小雨                     int64
weather_小雪                     int64
weather_晴                      int64
weather_曇                      int64
weather_雨                      int64
weather_雪                      int64
where_racecourse_中京            int64
where_racecourse_中山            int64
where_racecourse_京都            int64
where_racecourse_函館            int64
where_racecourse_小倉            int64
where_racecourse_新潟            int64
where_racecourse_札幌            int64
where_racecourse_東京            int64
where_racecourse_福島            int64
where_racecourse_阪神            int64
ground_type_ダ                  int64
ground_type_芝                  int64
is_left_right_straight_右       int64
is_left_right_straight_左       int64
is_left_right_straight_直線      int64
dtype: object

,race_id,race_round,ground_status,date,total_horse_number,frame_number_first,horse_number_first,frame_number_second,horse_number_second,frame_number_third,horse_number_third,tansyo,hukuren_first,hukuren_second,hukuren_third,renhuku3,rentan3,is_obstacle,distance,weather_rain,weather_snow,weather_小雨,weather_小雪,weather_晴,weather_曇,weather_雨,weather_雪,where_racecourse_中京,where_racecourse_中山,where_racecourse_京都,where_racecourse_函館,where_racecourse_小倉,where_racecourse_新潟,where_racecourse_札幌,where_racecourse_東京,where_racecourse_福島,where_racecourse_阪神,ground_type_ダ,ground_type_芝,is_left_right_straight_右,is_left_right_straight_左,is_left_right_straight_直線
0,200810010312,12,1,2008-01-26 16:05:00,18,4,7,3,6,1,2,2808201250,280,820,1250,152100,836940,0.0,1200,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,1,0,0
1,200806010709,9,1,2008-01-26 14:30:00,14,8,14,3,3,5,8,290220110,290,220,110,2750,33860,0.0,1800,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0
2,200808010707,7,4,2008-01-26 13:30:00,14,8,13,3,3,6,9,19016702460,190,1670,2460,237760,0,0.0,1200,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0

In [12]:
# horse
print(horse_df.dtypes)
horse_df.head(3)

race_id                 int64
rank                    int64
frame_number            int64
horse_number            int64
horse_id                int64
age                     int64
burden_weight         float64
rider_id                int64
goal_time             float64
half_way_rank         float64
last_time             float64
odds                  float64
popular               float64
horse_weight          float64
tamer_id                int64
owner_id               object
date                   object
is_down                 int64
is_senba                int64
is_mesu                 int64
is_osu                  int64
distance                int64
avg_velocity          float64
horse_weight_dif      float64
burden_weight_rate    float64
dtype: object

,race_id,rank,frame_number,horse_number,horse_id,age,burden_weight,rider_id,goal_time,half_way_rank,last_time,odds,popular,horse_weight,tamer_id,owner_id,date,is_down,is_senba,is_mesu,is_osu,distance,avg_velocity,horse_weight_dif,burden_weight_rate
0,200810010312,1,4,7,2004110053,4,56.0,674,69.7,11.5,35.9,9.7,4.0,484.0,1075,19004,2008-01-26 16:05:00,0,0,0,1,1200,17.216643,-10.0,0.115702
1,200810010312,2,3,6,2003106038,5,57.0,1054,69.7,7.5,36.1,35.7,12.0,474.0,1007,910006,2008-01-26 16:05:00,0,0,0,1,1200,17.216643,-8.0,0.120253
2,200810010312,3,1,2,2004110268,4,53.0,5223,69.9,7.5,36.3,54.5,14.0,442.0,427,975009,2008-01-26 16:05:00,0,0,1,0,1200,17.167382,-18.0,0.119910

raceからの追加
- ground_status
- weather_rain
- weather_snow
- 
```Python
race_df = pd.get_dummies(race_df, columns=["weather",'where_racecourse','ground_type','is_left_right_straight'])
```



追加項目
- 前回のレース日時からの差
- rider_idの変化があるか(あるなら1)
-

In [18]:
one_horse_data = horse_df[horse_df['horse_id'] == 2004110053]

In [20]:

one_horse_data.sort_values('date').head(3)

,race_id,rank,frame_number,horse_number,horse_id,age,burden_weight,rider_id,goal_time,half_way_rank,last_time,odds,popular,horse_weight,tamer_id,owner_id,date,is_down,is_senba,is_mesu,is_osu,distance,avg_velocity,horse_weight_dif,burden_weight_rate
0,200810010312,1,4,7,2004110053,4,56.0,674,69.7,11.5,35.9,9.7,4.0,484.0,1075,19004,2008-01-26 16:05:00,0,0,0,1,1200,17.216643,-10.0,0.115702
7450,200809010410,2,2,3,2004110053,4,57.0,674,81.9,4.0,35.5,3.4,1.0,486.0,1075,19004,2008-03-09 15:10:00,0,0,0,1,1400,17.094017,2.0,0.117284
9213,200807010911,14,7,13,2004110053,4,57.0,674,69.3,11.0,35.3,5.1,2.0,486.0,1075,19004,2008-03-29 15:30:00,0,0,0,1,1200,17.316017,0.0,0.117284

In [21]:

def make_one_horse_train_data(one_horse_data):

SyntaxError: unexpected EOF while parsing (<ipython-input-21-546f351f0fcd>, line 3)